* {
    box-sizing: border-box;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif";
}
body {
    margin: 0;
}
a, a:hover, a:visited, a:link, a:active {
    color: unset;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-menu {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;

    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms, visibility 400ms;

    padding-top: 30vh;
}
.mobile-menu-display {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}
.mobile-menu a {
    display: block;
    font-size: 2rem;
}
header {
    position: absolute;
    width: 100%;
    z-index: 5;

    display: flex;
    align-items: center;
}
.header-item {
    flex: 1;
}
.cart-icon {
    margin-left: 10px;
}
.cart-white {
    color: #F8F9FA;
}
.cart-black {
    color: black;
}
.amend-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.amend-logo img {
    height: 30px;
}
.menu-btn {
    margin-left: auto;
    margin-right: 10px;

    width: 50px;
    height: 50px;

    padding: 18px 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-btn-bar {
    border-top: solid 2px #F8F9FA;
}
.top-bar, .bottom-bar {
    transition: 500ms;
}
.top-bar-clicked {
    transform: translateY(6px) rotate(225deg)
}
.bottom-bar-clicked {
    transform: translateY(-6px) rotate(-225deg)
}
.border-black {
    border-color: black;
}
.menu-btn:hover {
    cursor: pointer;
}
footer {
    background-color: #DEDFDD;
    margin: 20px 0 0 0;
    padding: 20px 5vw;
}
footer > * {
    padding: 20px 0;
}
footer p {
    margin: 0;
}
.icon-set i:first-child {
    margin-right: 10px;
}