:root {
    --color-1: #2e4140;
    --color-2: #ad6141;
    --color-3: #c49422;
    --color-4: #bea995;
    --color-5: #98b4b2;
    --color-6: #144013;
    --color-back: white;
    --font-1: "catalog";
    --font-2: "open sans";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}
body {
    font-family: var(--font-2);
    background: var(--color-back);
    position: relative;
}
body.navigation-overlay {
    overflow: hidden;
}
section {
    position: relative;
}
section span {
    position: absolute;
    top: -56px;
    visibility: hidden;
}

/* Mobile Menu Overlay */
#mobile-navigation-overlay {
    position: fixed;
    left: 0px;
    background: var(--color-back);
    z-index: 600;
    height: 100%;
    width: 100%;
    transition: all 750ms;
}
.overlay-hidden {
    visibility: hidden;
    opacity: 0;
}
.overlay-displayed {
    visibility: visible;
    opacity: 1;
}
.mobile-navbar-list {
    display: flex;
    justify-content: center;
}
.mobile-navbar-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.mobile-navbar-list li {
    padding: 10px 0;
}

/* Mobile Header */
.mobile-navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-1);

    position: sticky;
    z-index: 500;
    top: 0px;
    color: white;
}
.mobile-navbar-header-overlay {
    background: var(--color-back);
}
.amend-logo {
    padding: 3px;
}
.amend-logo a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
}
.amend-logo-overlay {
    background-image: url("../images/logo-7.png");
    background-size: contain;
    transition: all 750ms;
}
.amend-logo-normal {
    background-image: url("../images/logo-8.png");
    background-size: contain;
    transition: all 750ms;
}
.mobile-menu-button {
    height: 50px;
    width: 50px;
    padding: 18px 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 800;
}
.bar {
    border-bottom: 2px solid white;
    transition: all 750ms;  
}
.top-bar-overlay {
    border-color: black;
    transform: translateY(6px) rotate(45deg)
}
.bottom-bar-overlay {
    border-color: black;
    transform:  translateY(-6px) rotate(-45deg)
}

/* Hide Desktop Header */
.desktop-header {
    display: none;
}

/* Hero Section */
.hero-section {
    background-image: url("../images/hero-logo-3.png");
    background-size: cover;
    background-position: center;
    height: 200px;

    display: flex;
    align-items: flex-end;
}
.mission-statement {
    text-align: center;
    padding: 0 30px;
}

/* Store Shopping Section */
.store h3 {
    text-align: center;
    padding-top: 25px;
}
.store-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.store-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px 0;
}
.item-image img {
    height: 300px;
}

/* Contact Section */
.contact h3 {
    text-align: center;
}
.contact-items {
    display: flex;
    justify-content: center;
}
.contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#email {
    height: 20px;
}
#insta {
    height: 18px;
}