* {
    box-sizing: border-box;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif";
}
body {
    margin: 0;
}
a, a:hover, a:visited, a:link, a:active {
    color: unset;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hero {
    min-height: 100vh;
    min-width: 100vw;

    background-image: url('../images/backgrounds/amend-hero.png');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;

    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms, visibility 400ms;

    padding-top: 30vh;
}
.mobile-menu-display {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}
.mobile-menu a {
    display: block;
    font-size: 2rem;
}
header {
    position: absolute;
    width: 100%;
    z-index: 5;

    display: flex;
    align-items: center;
}
.header-item {
    flex: 1;
}
.cart-icon {
    margin-left: 10px;
}
.cart-white {
    color: #F8F9FA;
}
.cart-black {
    color: black;
}
.amend-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.amend-logo img {
    height: 30px;
}
.menu-btn {
    margin-left: auto;
    margin-right: 10px;

    width: 50px;
    height: 50px;

    padding: 18px 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-btn-bar {
    border-top: solid 2px #F8F9FA;
}
.top-bar, .bottom-bar {
    transition: 500ms;
}
.top-bar-clicked {
    transform: translateY(6px) rotate(45deg)
}
.bottom-bar-clicked {
    transform: translateY(-6px) rotate(-45deg)
}
.border-black {
    border-color: black;
}
.menu-btn:hover {
    cursor: pointer;
}
.shop-btn {
    position: absolute;
    font-size: 2rem;
}
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-tile {
    position: relative;

    width: 90vw;
    height: 90vw;

    margin: 20px 0 0 0;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}
.refill-tile::after {
    background-image: url('../images/backgrounds/gvl.jpg');
}
.resources-tile::after {
    background-image: url('../images/backgrounds/hand-soap.png');
}
.contact-tile::after {
    background-image: url('../images/backgrounds/spray-cloth.png');
}
.content-tile::after {
    content: "";
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.content-tile h3 {
    text-align: right;
    font-size: 6vw;
}
.content-tile p {
    text-align: right;
    font-size: 4vw;
}

footer {
    margin: 20px 0 10px 0;
    text-align: center;
}